@import "tailwindcss";

/* post border */
.borderCSS {
  border: 3px solid #1e2939;
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: inset 0 0 0 2px #f0f0f0, 4px 4px 0 #c4d5f9;
}

.hoverCSS:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
